.navbar {
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: rgb(39, 101, 172);
}
